{%extends 'base.html'%}
{%block content%}


<h2>Your question is :</h2>

<p>{{ds_answer.question}}</p>


<form method="POST">
	{%csrf_token%}
	<input type="text" name="question">
	<input type="submit" name="submit">
</form>


{{score}}

{%endblock%}